<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/webbase.css">
    <link rel="stylesheet" href="css/center.css">
    <link rel="stylesheet" href="css/pages-seckillrder.css">

</head>
<body>

<div class="midnav">
    <div class="main">
        <div class=" centerlogo">
            <!--            <img src="img/logo-g.png">-->
        </div>
        <div class="topR centernaver">
            <ul>
                <li>
                    <a href="">首页</a>
                </li>
                <li>
                    <a href="">数据查看</a>
                    <div class="erji">
                        <a href="">查看数据</a>
                        <a href="">校验数据</a>
                    </div>
                </li>
            </ul>
        </div>

        <!--        <div class="gwcbtn">-->
        <!--            <a>-->
        <!--                <img src="img/car-gray.png">-->
        <!--                购物车结算<i>11</i>-->
        <!--            </a>-->
        <!--        </div>-->
    </div>
</div>
<div class="cneterbox">
    <div class="main">
        <div class="centerboxL">
            <ul>
                <p>个人信息</p>
                <li>
                    <a href="/tracedata.html">个人数据</a>
                    <a href="/updateAdminUser.html">更新个人数据</a>
                </li>
            </ul>
            <ul>
                <p>数据管理</p>
                <li>
                    <a href="/getchaindatauser">查看数据</a>
                    <a href="/tracedata.html">校验数据</a>
                </li>
            </ul>
        </div>
        <div class="centerboxR">
            <div class="main order-pay">
                <div class="body">
<!--                    <div class="table-title">-->
<!--                        <table class="sui-table  order-table">-->
<!--                            <tbody><tr>-->
<!--                            </tr></tbody>-->

<!--                        </table>-->
<!--                    </div>-->
                    <div class="order-detail">
<!--                        <div class="choose-title">-->
<!--                            <label data-toggle="checkbox" class="checkbox-pretty ">-->
<!--                                <input type="checkbox" checked="checked"><span>全部用户</span>-->
<!--                            </label>-->
<!--                        </div>-->
                        <div>
                            <form method="GET" action="/searchchaindata" class="sui-form form-horizontal" onsubmit="submitFormSearchChain(event)">
                                <input type="text" id="search" class="inputbox" placeholder="请输入你要搜索的关键字">
                                <p><span> <input type="submit" value="搜索" /></span></p>
                            </form>
                        </div>

                        <table class="sui-table table-bordered order-datatable">
                            <thead>
                            <tr>
<!--                                <th width="18%">ID</th>-->
                                <th width="5%">水质</th>
                                <th width="4%">二氧化碳</th>
                                <th width="6%">温度</th>
                                <th width="4%">操作人</th>
                                <th width="35%">区块链交易Hash</th>
                                <th width="9%">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{ range .Data }}
                            <tr>
<!--                                <td width="35%">-->
<!--                                    <span  class="guige"> </span>-->
<!--                                    {{ .Id }}-->
<!--                                </td>-->
                                <td width="5%"  class="center">
                                    {{ .Waterdata }}
                                </td>
                                <td width="5%"  class="center">
                                    {{ .Codata }}
                                </td>
                                <td width="8%"   class="center">
                                    {{ .Ecodata }}
                                </td>
                                <td width="10%"   class="center">
                                    {{ .Operator }}
                                </td>
                                <td width="10%"   class="center">
                                    {{ .Hash }}
                                </td>
                                <td width="10%" class="center">
                                    <ul class="unstyled">
                                        <li>
                                            <form method="GET" action="/gettxbyhash?hash={{ .Hash }}" class="sui-form form-horizontal" onsubmit="submitGettxbyhash(event)">
                                                <p><span> <input type="submit" value="区块链证书" /></span></p>
                                            </form>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {{ end }}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
<div class="foot1">
    <div class="main">
        <div class="footblank">
            <div class="footblanklist">
                <img src="">
                <p class="footblank1">

                </p>
                <p class="footblank2"></p>
            </div>
            <div class="footblanklist">
                <img src="img/zhen.png">
                <p class="footblank1">
                    真品货源
                </p>
                <p class="footblank2">正品、优质、放心</p>
            </div>
            <div class="footblanklist">
                <img src="img/tong.png">
                <p class="footblank1">
                    数据互通
                </p>
                <p class="footblank2">温度</p>
            </div>
            <div class="footblanklist">
                <img src="img/yi.png">
                <p class="footblank1">
                    数据不可篡改
                </p>
                <p class="footblank2">区块链默克尔树、密码学</p>
            </div>
            <div class="footblanklist">
                <img src="img/danbaojiaoyi.png">
                <p class="footblank1">
                    区块链溯源
                </p>
                <p class="footblank2">交易哈希、区块高度溯源</p>
            </div>
        </div>
        <div class="frendlink">
            <div class="frendlinkl">
                <div class="footlinkbox">
                    <p>区块链</p>
                    <a href="https://blog.csdn.net/weixin_41303815/article/details/115465777">区块链出块机制</a>
                    <a href="https://blog.csdn.net/weixin_41303815/article/details/115803249">区块链数据存储</a>
                    <a href="https://blog.csdn.net/weixin_41303815/category_11139294.html?spm=1001.2014.3001.5482">密码学</a>
                </div>
                <div class="footlinkbox">
                    <p>区块链浏览器</p>
                    <a href="">区块高度</a>
                    <a href="">区块信息</a>
                    <a href="">交易信息</a>
                </div>
                <div class="footlinkbox">
                    <p>智能合约</p>
                    <a href="https://blog.csdn.net/weixin_41303815/article/details/119328874">上链合约</a>
                    <a href="https://blog.csdn.net/weixin_41303815/article/details/119328874">查询合约</a>
                </div>
                <div class="footlinkbox">
                    <p>帮助中心</p>
                    <a href="">联系我们</a>
                    <a href="https://blog.csdn.net/weixin_41303815">更多资料</a>
                </div>
            </div>
            <div class="frendlinkm"></div>
            <div class="frendlinkr">
                <p  class="call"><img src="img/call.png"><span>xxx-xxxx-xxxx</span></p>
                <p class="email"><img src="img/email.png"><span >xxxx@163.com</span></p>

            </div>
        </div>
    </div>
</div>

<script>
    // 获取存储在 localStorage 中的 name 值
    var name = localStorage.getItem('name');
    console.log(12334333)
    console.log(name)
    // 查找 <a> 元素
    var anchorElement = document.querySelector('a[href="/getchaindatauser"]');

    // 修改 href 属性
    anchorElement.href = anchorElement.href + '?username=' + name;
</script>


    <script>
        function submitFormSearchChain(event) {
            event.preventDefault(); // 阻止表单默认提交行为

            // 获取表单元素的值
            var form = event.target;
            // var formData = new FormData(form);

            // 在此处进行其他表单数据处理或验证
            var searchValue = document.getElementById("search").value;
            // 发起 POST 请求
            var url = "/searchchaindata?search=" + encodeURIComponent(searchValue);
            window.location.href = url
        }
    </script>
    <script>
        function submitGettxbyhash(event) {
            //console.log(123)
            event.preventDefault(); // 阻止表单默认提交行为
            // 获取表单元素的值
            var form = event.target;
            var hash = form.getAttribute('action').split('=')[1];
            fetch('/gettxbyhash?hash=' + hash, {
                method: 'GET',
            }).then(function(response) {
                alert("Please wait for getting Chain-data by your transaction's hash!!!")
                if (response.ok) {
                    response.json().then(function(data) {
                        var chainid = data.chainid;
                        var blockhash = data.blockhash;
                        var blocknum = data.blocknum;
                        var txtime = data.txtime;
                        var contract = data.contract;
                        var gas = data.gas;
                        var confirmed = data.confirmed;

                        alert(
                            "On-Chain successfully with the following details:\n\n" +
                            "交易Hash: " + hash  + "\n" +
                            "区块链ID: " + chainid + "\n" +
                            "区块Hash: " + blockhash + "\n" +
                            "区块Number: " + blocknum + "\n" +
                            "交易时间: " + txtime + "\n" +
                            "合约地址: " + contract + "\n" +
                            "Gas花销: " + gas + "\n" +
                            "已确认的区块数: " + confirmed
                        );

                    });
                } else {
                    alert("Get-Chain failed, 链拥堵，请稍后再试！！");
                    window.location.reload(); // 刷新当前页面
                }
            })
                .catch(function(error) {
                });
        }
    </script>

</body>
</html>
